NUXT_PUBLIC_SITE_URL=
NUXT_STORAGE_URL=

# DATABASE
NUXT_DATABASE_HOST=
NUXT_DATABASE_PORT=
NUXT_DATABASE_USER=
NUXT_DATABASE_PASSWORD=
NUXT_DATABASE_NAME=

# MAIL
NUXT_MAIL_HOST=
NUXT_MAIL_PORT=
NUXT_MAIL_USER=
NUXT_MAIL_PASS=
NUXT_MAIL_FROM=
NUXT_MAIL_FROM_NAME=

# SESSION
NUXT_SESSION_PASSWORD=